@use "../mixins/responsive.scss" as *;

.header {
  @include responsive(desktop) {
    position: relative;
    z-index: 10;
  }
}
.header__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
  align-items: center;
  overflow: hidden;
  padding: 24px;
  background-color: var(--white);

  @include responsive(desktop) {
      position: relative;
    padding: 30px 165px;
  }
}