@use "../mixins/pseudo.scss" as *;
@use "../mixins/responsive.scss" as *;

.section {
  text-align: center;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @include responsive(desktop) {
    text-align: left;
    margin-bottom: 160px;

    align-items: start;
  }

  &__container {
    background-image: url(../assets/images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    padding: 93px 24px;

    @include responsive(desktop) {
      background-image: none;
      padding: 110px 165px;
      width: 60%;
    }
  }

  &__title {
    font-family: var(--font-family-dm);
    font-weight: var(--font-weight-regular);
    font-size: 45px;
    line-height: 48px;
    margin: 0;

    @include responsive(desktop) {
      font-size: 72px;
      line-height: 64px;
      margin-bottom: 40px;
    }

    &--work {
      margin-bottom: 40px;

      @include responsive(desktop) {
        margin-bottom: 0;
        font-size: 65px;
        width: 60%;
      }
    }

    &--black {
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 80px;

      &::before {
        @include pseudo(150px, 1px) {
          top: -40px;
          background-color: var(--color-line);

          @include responsive(desktop) {
            left: 0;
            top: -60px;
          }
        }
      }
    }
  }

  &__features-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include responsive(desktop) {
      align-items: start;
      justify-content: space-between;
      flex-direction: row;
      gap: 1.875rem;
    }
  }

  &__features-box {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include responsive(desktop) {
      align-items: start;
    }
  }

  &__icon {
    margin-bottom: 32px;
  }

  &__subtitle {
    font-family: var(--font-family-dm);
    font-size: 28px;
    font-weight: var(--font-weight-regular);
    margin: 0;
  }

  &__text {
    font-family: var(--font-family-karla);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;

    &--black {
      color: var(--color-terciary);
    }
  }

  &__image {
    position: absolute;
    width: 110px;
    right: 0;
    bottom: -150px;
    z-index: 1;

    @include responsive(desktop) {
      width: 400px;
      top: -50px;
      z-index: 1;
    }
  }

  &__curve {
    display: none;

    @include responsive(desktop) {
      display: block;
      position: absolute;
      top: 350px;
      left: 0px;
    }
  }

  &--dark {
    background-color: var(--color-primary);
    color: var(--white);
  }

  &--work {
    padding: 72px 0;
    margin-inline: 24px;
    background-image: url(../assets/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;

    @include responsive(desktop) {
      padding: 70px 80px;
      margin-inline: 165px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-image: url(../assets/images/bg-pattern-how-we-work-desktop.svg);
    }
  }

  &--intro {
    @include responsive(desktop) {
      text-align: left;
      margin-bottom: 300px;
      align-items: start;
      justify-content: center;
    }
  }

  &--icons {
    background-color: var(--white);
    @include responsive(desktop) {
      padding: 0 165px;
    }
  }
}