:root {
  /* Variables CSS */
  --white: white;
  --color-primary: #2d2641;
  --color-secundary: #96a9c6;
  --color-terciary: #837d88;
  --color-line: #c396c6;
  --color-menu: #2c2830;
  --color-footer: #fafafa;
  --font-family-dm: "DM Serif Display", serif;
  --font-family-karla: "Karla", sans-serif;
}

/* Variables SASS */
